   <footer class="wrappers">
        <div class="footer section">
            <div class="container">
                <div class="content-box">
                    <div class="box">
                        <div class="logo">
                        <h2>NSM<span>WEB</span>DEV</h2>
                        </div>
                        <div class="separator"></div>
                        <p>My mission is to transform your vision into a 
                            captivating digital experience that resonates 
                            with your audience and drives growth. </p>
                            <ul class="sci-box">
                                <!-- <li><a href="https://www.facebook.com/share/18TsaJnoCe/?mibextid=wwXIfr"><span class="tool-tip">Facebook</span><i class="fa-brands fa-facebook"></i></a></li> -->
                                <!-- <li><a href="https://www.instagram.com/nkululekosm/profilecard/?igsh=MWJ5anJienFnbHc0Yw=="><span class="tool-tip">Instagram</span><i class="fa-brands fa-instagram"></i></a></li> -->
                                <li><a href="https://www.tiktok.com/@nkululekosm38?_t=ZM-8tDaD1copU5&_r=1"><span class="tool-tip">Tiktok</span><i class="fa-brands fa-tiktok"></i></a></li>
                                <li><a href="http://linkedin.com/in/nsmthethwa44"><span class="tool-tip">LinkedIn</span><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a href="https://github.com/nsmthethwa44/"><span class="tool-tip">GitHub</span><i class="fa-brands fa-github"></i></a></li>
                            </ul>
                    </div>
                    <div class="box">
                        <h3>My Services</h3>
                        <div class="separator"></div>
                        <ul class="list">
                            <li><i class="fa-solid fa-caret-right"></i>Build RESTful APIs with ASP.NET Core</li>
                            <li><i class="fa-solid fa-caret-right"></i>Manage SQL Server/PostgreSQL databases</li>
                            <li><i class="fa-solid fa-caret-right"></i>Google Analytics and Reporting</li>
                            <li><i class="fa-solid fa-caret-right"></i>Deploy applications</li>
                            <li><i class="fa-solid fa-caret-right"></i>Clean architecture, SOLID, and modular project</li>
                        </ul>
                    </div>
                    <div class="box">
                        <h3>Quick Links</h3>
                    <div class="separator"></div>
                        <ul class="list">
                            <li><a href="#about"><i class="fa-solid fa-caret-right"></i>About</a></li>
                            <li><a href="#services"><i class="fa-solid fa-caret-right"></i>Services</a></li>
                            <li><a href="#work"><i class="fa-solid fa-caret-right"></i>My Portfolio</a></li>
                            <li><a href="#resume"><i class="fa-solid fa-caret-right"></i>Resume</a></li>
                            <li><a href="#faqs"><i class="fa-solid fa-caret-right"></i>FAQs</a></li>
                        </ul>
                    </div>
                    <div class="box">
                        <h3>Contact Info</h3>
                    <div class="separator"></div>
                    <ul class="list">
                    <li><i class="fa-solid fa-caret-right"></i><span>Email:</span>nkululekosm44&commat;gmail.com</li>
                    <li><i class="fa-solid fa-caret-right"></i><span>Phone:</span>079 565 4665</li>
                    <li><i class="fa-solid fa-caret-right"></i><span>Location:</span>Durban</li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

      <div class="copyright">
              <div class="container">
                       <h6>Created By: <span>Nkululeko Mthethwa</span><img src="assets\img\working_with_a_laptop_20px.png" alt="">| &copy;2025 | All Right Reserved.</h6>
              </div>
       </div>
      
