  <section class="wrapper">
        <div class="my-tools">
        <div class="content">
        <div class="container">
            <div class="content-box">
                <!-- <div class="text-box">
                    <h3><a href="mailto:nkululekosm44@gmail.com"><i class="fa-solid fa-envelope"></i>nkululekosm44&commat;gmail.com</a></h3>
                    <h3><a href="tel:+2795654665"><i class="fa-solid fa-phone"></i>079 565 4665</a></h3>
                </div> -->
                <div class="tools-box">
                    <ul class="tools">
                        <!-- <h3>Tech Stack:</h3> -->
                        <li><span class="tool-tip">Angular</span><img src="assets\img\angularjs_30px.png" class="tool-img" alt="Angular" /></li>
                        <li><span class="tool-tip">HTML</span><img src="assets\img\html_5_30px.png" class="tool-img" alt="HTML" /></li>
                        <li><span class="tool-tip">CSS</span><img src="assets\img\css3_30px.png" class="tool-img" alt="CSS" /></li>
                        <li><span class="tool-tip">Figma</span><img src="assets\img\figma_30px.png" class="tool-img" alt="REST API" /></li>
                        <li><span class="tool-tip">.NET Framework</span><img src="assets\img\.NET_Framework_30px.png" class="tool-img" alt="WooCommerce" /></li>
                        <li><span class="tool-tip">CSharp</span><img src="assets\img\c_sharp_logo_2_30px.png" class="tool-img" alt="JavaScript" /></li>
                        <li><span class="tool-tip">JavaScript</span><img src="assets\img\javascript_30px.png" class="tool-img" alt="JavaScript" /></li>
                        <li><span class="tool-tip">SASS</span><img src="assets\img\sass_avatar_30px.png" class="tool-img" alt="Node.JS" /></li>
                        <li><span class="tool-tip">Visual Studio</span><img src="assets\img\visual_studio_30px.png" class="tool-img" alt="WordPress" /></li>
                        <li><span class="tool-tip">GitHub</span><img src="assets\img\github_30px.png" class="tool-img" alt="WordPress" /></li>
                        <li><span class="tool-tip">Swagger</span><img src="assets\img\cloud_function_30px.png" class="tool-img" alt="WordPress" /></li>
                        <li><span class="tool-tip">SQL</span><img src="assets\img\sql_30px.png" class="tool-img" alt="WordPress" /></li>
                        <li><span class="tool-tip">VS Code</span><img src="assets\img\visual_studio_code_2019_30px.png" class="tool-img" alt="WordPress" /></li>
                        <li><span class="tool-tip">TypeScript</span><img src="assets\img\typescript_30px.png" class="tool-img" alt="SASS" /></li>
                        <li><span class="tool-tip">REST API</span><img src="assets\img\rest_api_30px.png" class="tool-img" alt="TailwindCSS" /></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>