<div class="project-details">
<div class="wrapper">
    <div class="content">
<div class="details" *ngIf="project">

    <div class="info-details">
        <div class="text-icons-vid"> 
            <h3>{{project?.category}}</h3>
           <h2>{{project?.title}}</h2>
            <ul class="icons">
                <li><img src="assets/img/angularjs_30px.png" alt=""></li>
                <li><img src="assets/img/.NET_Framework_30px.png" alt=""></li>
                <li><img src="assets/img/c_sharp_logo_2_30px.png" alt=""></li>
                <li><img src="assets/img/typescript_30px.png" alt=""></li>
                <li><img src="assets/img/sass_avatar_30px.png" alt=""></li>
                <li><img src="assets/img/html_5_30px.png" alt=""></li>
            </ul>
            <div class="box-vid">
               <app-videos [project]="project"></app-videos>
                <!-- <video src={{project?.vidUrl}} class="img-box" controls autoplay></video> -->
            </div>
            <div class="demo">
                <div class="buttons">
                     <a href={{project?.liveDemo}}>
                    <button class="btn"><i class="fa-solid fa-link"></i>Live Preview</button>
                </a>
                <a href={{project.gitHubLink}}>
                    <button class="btn gitHub"><i class="fa-brands fa-github"></i>GitHub</button>
                </a>
                </div>
            </div>
        </div> 
       
        <div class="info">
                <div class="description">
                    <h2>{{project?.title}}</h2>
                    <div class="divider"></div>
                    <h3>Project Description</h3>
                    <div class="desc">
                        <p>{{project?.desc}}</p>
                    </div>

                    <div class="benefits">
                        <div class="box">
                            <h3>The Problem</h3>
                            <p>{{project?.theProblem}}</p>
                        </div>
                        <div class="box">
                            <h3>The Solution</h3>
                    <p>{{project?.theSolution}}</p>
                        </div>
                        <div class="box">
                            <h3>Key Benefits</h3>
                    <p>{{project?.theBenefits}}</p>
                        </div>
                    </div> 
                </div>
            </div>

                <div class="tech-stack">
                    <h3>Tech Stack</h3>
                    <ul class="list">
                        <li>AngularJS</li>
                        <li>TypeScript</li>
                        <li>HTML</li>
                        <li>SASS</li>
                        <li>ASP.NET Core</li>
                        <li>SQL Server</li>
                        <li>JavaScript</li>
                        <li>C#</li>
                        <li>LINQ</li>
                        <li>Swagger / Swashbuckle</li>
                        <li>RxJS & State Management</li>
                        <li>Angular Route</li>
                        <li>Angular Forms (Reactive & Template-driven)</li>
                        <li>Migrations (EF Core)</li>
                        <li>Angular Material (UI Components)</li>
                        <li>JWT Authentication</li>
                        <li>Role-Based Access Control</li>
                        <li>SOLID Principles</li>
                        <li>CSS</li>
                    </ul>
                </div>

            <div class="screen-shorts">
                <div class="box">
                    <div class="box-img"><img src={{project?.images.img1}} alt="Portfolio image" class="img-box"></div>
                </div>
                 <div class="box">
                    <div class="box-img"><img src={{project?.images.img2}} alt="Portfolio image" class="img-box"></div>
                </div>
                 <div class="box">
                    <div class="box-img"><img src={{project?.images.img3}} alt="Portfolio image" class="img-box"></div>
                </div>
                 <div class="box">
                    <div class="box-img"><img src={{project?.images.img4}} alt="Portfolio image" class="img-box"></div>
                </div>
            </div>
   
    </div>
  
</div>

<div class="" *ngIf="!project">
     <p>Project not found.</p>
</div>
    </div>

    <app-right-sidebar></app-right-sidebar>
</div>
</div>

