<div class="sidebar">
    <div class="close" (click)="closeSidebar()"><i class="fa-solid fa-xmark"></i></div>
        <div class="logo">
            <i class="fa-solid fa-code"></i>
            <h2>NsmWebDev</h2>
         </div>

    <div class="navbar">
        <ul class="nav">
            <li>
                <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                    (click)="closeSidebar()">
                    <i class="fa-solid fa-house-chimney"></i> Home
                </a>
            </li>
            <li>
                <a [routerLink]="['/projects']" routerLinkActive="active" (click)="closeSidebar()">
                    <i class="fa-solid fa-list-check"></i> Projects
                </a>
            </li>
            <li>
                <a [routerLink]="['/about']" routerLinkActive="active" (click)="closeSidebar()">
                    <i class="fa-solid fa-user"></i> About
                </a>
            </li>
            <li>
                <a [routerLink]="['/experience']" routerLinkActive="active" (click)="closeSidebar()">
                    <i class="fa-solid fa-file"></i> Experience
                </a>
            </li>
            <li>
                <a [routerLink]="['/skills']" routerLinkActive="active" (click)="closeSidebar()">
                    <i class="fa-solid fa-laptop-file"></i> Skills
                </a>
            </li>
            <li>
                <a [routerLink]="['/contact']" routerLinkActive="active" (click)="closeSidebar()">
                    <i class="fa-solid fa-phone"></i> Contact
                </a>
            </li>
        </ul>
    </div>

    <div class="user-box">
        <div class="box-img"><img src="assets\img\Nkululeko Mthethwa.jpeg" alt="Nkululeko photo" class="img-box"></div>
    </div>

</div>