      <div class="card">
            <div class="box-img">
                <img [src]="project.imgUrl" alt={{project.title}} class="img-box">
                <a [routerLink]="['/projects/details', project.slug]"class="view-more"><button class="btn"><i class="fa-solid fa-link"></i></button></a>
            </div>
            <div class="text-box">
                <h3>{{project.title}}</h3>
                <p>{{project.summary}}</p>

                <div class="tech">
                    <span>Angular, ASP.NET Core Web API and SQL Server</span>
                </div>
            </div>
        </div>