<div class="right-sidebar">
     <div class="right">
            <div class="box">
                <h3>Technical Skills</h3>
                <ul class="skills">
                    <li><img src="assets\img\angularjs_30px.png" alt="">Angular</li>
                    <li><img src="assets\img\.NET_Framework_30px.png" alt="">ASP.NET Core</li>
                    <li><img src="assets\img\typescript_30px.png" alt="">TypeScript</li>
                    <li><img src="assets\img\c_sharp_logo_2_30px.png" alt="">C#</li>
                    <li><img src="assets\img\css3_30px.png" alt="">CSS</li>
                    <li><img src="assets\img\rest_api_30px.png" alt="">REST APIs</li>
                    <li><img src="assets\img\sql_30px.png" alt="">SQL Server</li>
                    <li><img src="assets\img\html_5_30px.png" alt="">HTML</li>
                    <li><img src="assets\img\sass_avatar_30px.png" alt="">SASS</li>
                    <li><img src="assets\img\javascript_30px.png" alt="">JavaScript</li>
            </ul>
            </div>
            <div class="box">
                  <h3>Tools</h3>
                 <ul class="tools">
                <li><img src="assets\img\github_30px.png" alt="">GitHub</li>
                <li><img src="assets\img\visual_studio_code_2019_30px.png" alt="">VS Code</li>
                <li><img src="assets\img\figma_30px.png" alt="">Figma</li>
                <li><img src="assets\img\visual_studio_30px.png" alt="">Visual Studio</li>
                <li><img src="assets\img\cloud_function_30px.png" alt="">Swagger</li>
            </ul>
            </div>

            <div class="box">
                  <h3>Things I'm Good At</h3>
                <ul class="skills">
                    <li>
                        <img src="assets\img\google_code_20px.png" alt="" />Responsive Web
                        Design
                    </li>
                    <li>
                        <img src="assets\img\woocommerce_20px.png" alt="" />E-commerce Solutions
                    </li>
                    <li>
                        <img src="assets\img\wordpress_20px.png" alt="" />Content Management
                        Systems
                    </li>
                    <li>
                        <img src="assets\img\Positive Dynamic_20px.png" alt="" />Performance
                        Optimization
                    </li>
                </ul>
            </div>

            <div class="box">
                 <h3>Experience</h3>
                <ul class="list">
                        <li><span><img src="assets\img\Back_20px.png" alt="">Junior Software Developer - (2025)</span></li>
                        <li><span><img src="assets\img\Back_20px.png" alt="">Web Developer - 2024</span></li>
                        <li><span><img src="assets\img\Back_20px.png" alt="">Web Developer Intern - 2023</span></li>
                    </ul>
            </div>

            <div class="box">
                <h3>Recent Projects</h3>
                <div class="card-box">
                        <div class="card">
                            <div class="box-img"><img src="assets\img\HealthCare_Appointment_System – Angular  ASP.NET Core  SQL Server.png" alt="HealthCare_Appointment_System – Angular  ASP.NET Core  SQL Server" class="img-box"></div>
                            <div class="text">
                                 <h3>HealthCare_Appointment_System – Angular  ASP.NET Core  SQL Server</h3>
                            </div>
                        </div>
                         <div class="card">
                                <div class="box-img"><img src="assets\img\Child Development Tracking System – Angular  ASP.NET Core  SQL Server.png" alt="Child Development Tracking System – Angular  ASP.NET Core  SQL Server" class="img-box"></div>
                                    <div class="text">
                                        <h3>Child Development Tracking System – Angular  ASP.NET Core  SQL Server</h3>
                                    </div>
                            </div>
            </div>
        </div>
</div>
